*{ 
  margin: 0;
  padding: 0;
}

h1{
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul{  
  
}
ul li{  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;  
}

ul li span{  
  
  font-family: Arial, Helvetica, sans-serif;
  width: 15%;
}
ul{
  justify-content: center;
  align-items: center;
}

.mvform, .mvformlist{
    
  height: 10vh;
  width: 100%;
  display: flex;  
  justify-content: center;
  align-items: center;
}
.mvformlist{
  height: auto;
}

input[type=text]{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  margin: 10px;
  border: solid;
  border-radius: 10%;

}

button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  margin: 10px;
  border: solid;
  border-radius: 10%;
}

button:hover, button:active{
  background-color: aquamarine;


}

.infoh1{
  background-color: lightslategrey;
  
}

.ref{
  list-style: none;
  display: flex;  
}